@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Message Microservice</h1>
    <p class="lead">This microservice is built with Akka.NET.</p>
    <p><a href="http://getakka.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <ol>
            <li>Run GroupRouterSystem Console Application</li>    
            <li>Configure Web Application in IIS.</li>    
            <li>Create a database called MessageSample.</li>   
            <li>Add a message by clicking on Add Message.</li>   
        </ol>
        
        
    </div>
    <div class="col-md-4">
        <h2>Learn</h2>
        <p>Blog post comming soon.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>