<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="kafka-net" version="0.8.0.112" targetFramework="net451" />
  <package id="Misakai.Kafka" version="1.0.14" targetFramework="net45" />
  <package id="ServiceStack" version="4.0.42" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.0.42" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.42" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.42" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.42" targetFramework="net45" />
</packages>